DB_HOST=asrp_database
DB_PORT=5432
DB_PASSWORD=asrp_test
DB_USER=asrp_test
DB_NAME=asrp_test

DEV_MODE=false

SECRET_KEY=
FERNET_KEY=
ALGORITHM=HS256

GMAIL_USERNAME=
GMAIL_PASSWORD=
GMAIL_FROM=
GMAIL_PORT=
GMAIL_SERVER=

S3_ACCESS_KEY=minio_admin
S3_SECRET_KEY=minio_admin
S3_DEFAULT_BUCKET=uploads
S3_REGION=us-east-1
S3_ENDPOINT=http://minio:9000
S3_PUBLIC_URL=http://minio.dev.local

STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

NGINX_BACKEND_DOMAIN=api.dev.local
NGINX_MINIO_DOMAIN=minio.dev.local

FRONTEND_DOMAIN_HTTP=http://frontend.dev.local
FRONTEND_DOMAIN=http://frontend.dev.local
