# ========================
# DATABASE (DEV DEFAULTS)
# ========================
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=asrp
DB_USER=asrp
DB_NAME=asrp

DEV_MODE=true


# ========================
# SECURITY (DEV ONLY)
# DO NOT USE IN PROD
# ========================
SECRET_KEY=
FERNET_KEY=
ALGORITHM=HS256


GMAIL_USERNAME=
GMAIL_PASSWORD=
GMAIL_FROM=
GMAIL_PORT=
GMAIL_SERVER=


BACKEND_DOMAIN=
BACKEND_PORT=

FRONTEND_DOMAIN_HTTP=
FRONTEND_DOMAIN=
