DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=asrp_test
DB_USER=asrp_test
DB_NAME=asrp_test

DEV_MODE=true

SECRET_KEY=
FERNET_KEY=
ALGORITHM=HS256


GMAIL_USERNAME=
GMAIL_PASSWORD=
GMAIL_FROM=
GMAIL_PORT=
GMAIL_SERVER=

S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=
S3_REGION=

S3_ENDPOINT_DEV=
S3_ENDPOINT_PROD=

S3_PUBLIC_URL_DEV=
S3_PUBLIC_URL_PROD=


STRIPE_API_KEY=


BACKEND_DOMAIN=
BACKEND_PORT=

FRONTEND_DOMAIN_HTTP=
FRONTEND_DOMAIN=
